<link rel="stylesheet" href="/css/footer.css">

<footer>
    <div>
        <div class="logo_footer">
            <p class="p_logo_footer">Combat Federation</p>
        </div>
        <div class="icon_footer">
            <div class="copyright">
                <p class="p_copyr">&copy; 2023 Combat Federation™ ลิขสิทธิ์ถูกต้อง</p>
            </div>
        </div>
    </div>
    <div>

    </div>
</footer>