<!DOCTYPE html>
<html lang="en">

<head>
<<<<<<< Updated upstream
    <%- include("./partials/header.ejs")%>
=======
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap"
        rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-icons.css" rel="stylesheet">
    <link href="css/templatemo-topic-listing.css" rel="stylesheet">

>>>>>>> Stashed changes
</head>

<body>
    <%- include("./partials/nav.ejs")%>
    <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-12 mx-auto">
                    <h1 class="text-white text-center">สมาคมศิลปะการต่อสู้</h1>

                    <h6 class="text-center">ยอดนิยมอันดับ 1 ทั่วโลก</h6>

                    <form method="get" class="custom-form mt-4 pt-2 mb-lg-0 mb-5" role="search">
                        <div class="input-group input-group-lg">
                            <span class="input-group-text bi-search" id="basic-addon1">
                                
                            </span>

                            <input name="keyword" type="search" class="form-control" id="keyword" placeholder="McGregor, The Iroman (รถถัง), Tawanchai ..." aria-label="Search">

                            <button type="submit" class="form-control">ค้นหา</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </section>
    <section class="featured-section">
        <div class="container">
            <div class="row justify-content-center">


                <div class="col-lg-6 col-12 mb-4">
                    <div class="custom-block custom-block-overlay" style="background-color: #61677A;">
                        <div class="d-flex flex-column h-100">
                            <!-- <img src="images/businesswoman-using-tablet-analysis.jpg" class="custom-block-image img-fluid" alt=""> -->

                            <div class="custom-block-overlay-text d-flex">
                                <div>
                                    <h5 class="text-white mb-2 eventName" style="color: #ff0048 !important;">One Fight Night</h5>
                                    <p class="text-white" style="margin: 1em 0; font-style: italic; font-weight: bolder;">Rodtang <span style="color: #FFBB5C;">VS</span> Superlek</p>
                                    <div class="centerDiv">
                                    <div class="detailDiv">
                                        <p class="text-white "><span class="spnDtail" style="color: #ff0048;">Weight: </span> Lightweight </p>
                                        <p class="text-white "><span class="spnDtail" style="color: #ff0048;">Date: </span> 2021 September 22</p>

                                    </div>;
                                    <div class="detailDiv" style="margin-left: 1em;">
                                        <p class="text-white "><span class="spnDtail" style="color: #ff0048;">Stadium: </span> Lumpinee</p>
                                        <p class="text-white "><span class="spnDtail" style="color: #ff0048;">Time: </span> 19:30 PM.</p>
                                    </div>
                                    </div>
                                    <!-- <a href="topics-detail.html" class="btn custom-btn mt-2 mt-lg-3">Learn More</a> -->
                                    <p class="text-white"><span class="spnDtail" style="color: #FFBB5C; font-weight: bolder !important;">The Winner IS:</span><span class="TheWinner"> Superlek</span></p>


                                </div>

                                <span class="badge bg-finance rounded-pill ms-auto" style="color: #C70039; background-color: #C70039;">00</span>
                                
                            </div>

                            <div class="social-share d-flex">
                                <p class="text-white me-4">Share:</p>

                                <ul class="social-icon">
                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-twitter"></a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-facebook"></a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-pinterest"></a>
                                    </li>
                                </ul>

                                <a href="#" class="custom-icon bi-bookmark ms-auto"></a>
                            </div>

                            <div class="section-overlay"></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-12 mb-4">
                    <div class="custom-block custom-block-overlay" style="background-color: #61677A;">
                        <div class="d-flex flex-column h-100">
                            <!-- <img src="images/businesswoman-using-tablet-analysis.jpg" class="custom-block-image img-fluid" alt=""> -->

                            <div class="custom-block-overlay-text d-flex">
                                <div>
                                    <h5 class="text-white mb-2 eventName" style="color: #ff0048 !important;">One Fight Night</h5>
                                    <p class="text-white" style="margin: 1em 0; font-style: italic; font-weight: bolder;">Rodtang <span style="color: #FFBB5C;">VS</span> Superlek</p>
                                    <div class="centerDiv">
                                    <div class="detailDiv">
                                        <p class="text-white "><span class="spnDtail" style="color: #ff0048;">Weight: </span> Lightweight </p>
                                        <p class="text-white "><span class="spnDtail" style="color: #ff0048;">Date: </span> 2021 September 22</p>

                                    </div>;
                                    <div class="detailDiv" style="margin-left: 1em;">
                                        <p class="text-white "><span class="spnDtail" style="color: #ff0048;">Stadium: </span> Lumpinee</p>
                                        <p class="text-white "><span class="spnDtail" style="color: #ff0048;">Time: </span> 19:30 PM.</p>
                                    </div>
                                    </div>
                                    <!-- <a href="topics-detail.html" class="btn custom-btn mt-2 mt-lg-3">Learn More</a> -->
                                    <p class="text-white"><span class="spnDtail" style="color: #FFBB5C; font-weight: bolder !important;">The Winner IS:</span><span class="TheWinner"> Superlek</span></p>


                                </div>

                                <span class="badge bg-finance rounded-pill ms-auto" style="color: #C70039; background-color: #C70039;">00</span>
                                
                            </div>

                            <div class="social-share d-flex">
                                <p class="text-white me-4">Share:</p>

                                <ul class="social-icon">
                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-twitter"></a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-facebook"></a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-pinterest"></a>
                                    </li>
                                </ul>

                                <a href="#" class="custom-icon bi-bookmark ms-auto"></a>
                            </div>

                            <div class="section-overlay"></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-12 mb-4">
                    <div class="custom-block custom-block-overlay" style="background-color: #61677A;">
                        <div class="d-flex flex-column h-100">
                            <!-- <img src="images/businesswoman-using-tablet-analysis.jpg" class="custom-block-image img-fluid" alt=""> -->

                            <div class="custom-block-overlay-text d-flex">
                                <div>
                                    <h5 class="text-white mb-2 eventName" style="color: #ff0048 !important;">One Fight Night</h5>
                                    <p class="text-white" style="margin: 1em 0; font-style: italic; font-weight: bolder;">Rodtang <span style="color: #FFBB5C;">VS</span> Superlek</p>
                                    <div class="centerDiv">
                                    <div class="detailDiv">
                                        <p class="text-white "><span class="spnDtail" style="color: #ff0048;">Weight: </span> Lightweight </p>
                                        <p class="text-white "><span class="spnDtail" style="color: #ff0048;">Date: </span> 2021 September 22</p>

                                    </div>;
                                    <div class="detailDiv" style="margin-left: 1em;">
                                        <p class="text-white "><span class="spnDtail" style="color: #ff0048;">Stadium: </span> Lumpinee</p>
                                        <p class="text-white "><span class="spnDtail" style="color: #ff0048;">Time: </span> 19:30 PM.</p>
                                    </div>
                                    </div>
                                    <!-- <a href="topics-detail.html" class="btn custom-btn mt-2 mt-lg-3">Learn More</a> -->
                                    <p class="text-white"><span class="spnDtail" style="color: #FFBB5C; font-weight: bolder !important;">The Winner IS:</span><span class="TheWinner"> Superlek</span></p>


                                </div>

                                <span class="badge bg-finance rounded-pill ms-auto" style="color: #C70039; background-color: #C70039;">00</span>
                                
                            </div>

                            <div class="social-share d-flex">
                                <p class="text-white me-4">Share:</p>

                                <ul class="social-icon">
                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-twitter"></a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-facebook"></a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-pinterest"></a>
                                    </li>
                                </ul>

                                <a href="#" class="custom-icon bi-bookmark ms-auto"></a>
                            </div>

                            <div class="section-overlay"></div>
                        </div>
                    </div>
                </div>

                


                
               

            </div>
        </div>
    </section>
        <!-- <div class="container mt-5">
            <h1>Welcome <%= name%>
            </h1>
            <ul>
                <li><a href="/authen/signin">Sign In</a></li>
                <li><a href="/authen/signup">Sign up</a></li>
            </ul>
        </div> -->

        <%- include("./partials/footer.ejs")%>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>
        <script src="/js/jquery.sticky.js"></script>
        <script src="/js/click-scroll.js"></script>
        <script src="/js/custom.js"></script>
</body>

</html>