<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- include("./partials/nav.ejs")%>
        <div class="container mt-5">
            <h1>Welcome <%= name%></h1>
            <ul>
                <li><a href="/authen/signin">Sign In</a></li>
                <li><a href="/authen/signup">Sign up</a></li>
            </ul>
        </div>
    <%- include("./partials/footer.ejs")%>

</body>

</html>