<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/header.ejs")%>
    <style>
         body{
            background-image: linear-gradient(15deg, #181D31 0%, #272829 100%) !important;
        }
        ol li a{
            color: #C70039;
        }
        ol li a:hover{
            color: #750021;
        }
        .reset-password.container{
            background-color: white;
            box-shadow: rgba(153, 153, 153, 0.2) 0px 2px 5px 0px !important;
            border-radius: 10px;
            margin: 0 auto;
            padding: 2em;
            width: 1140px;
        }
    </style>
</head>
<body>
    <%- include("./partials/nav.ejs")%>
    <div class="reset-password container my-4">
        <div aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/profile" class="text-decoration-none">โปรไฟล์</a></li>
              <li class="breadcrumb-item active" aria-current="page">แก้ไขรหัสผ่าน</li>
            </ol>
        </div>
        <form name="update-profile" action="/profile/update" method="post">
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">User Name</h6>
                </div>
                <div class="col-sm-9 text-secondary form-input">
                    <input required type="text" class="form-control" name="username" value="">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">First Name</h6>
                </div>
                <div class="col-sm-9 text-secondary form-input">
                    <input required type="text" class="form-control" name="fname" value="">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Last Name</h6>
                </div>
                <div class="col-sm-9 text-secondary form-input">
                    <input required type="text" class="form-control" name="lname" value="">
                </div>
            </div>
        </form>
    </div>
</body>
</html>