<<<<<<< Updated upstream
* {
=======
/* *{
>>>>>>> Stashed changes
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    padding: 1rem 6rem;
    background-color: #181D31;
    position: relative;
    
}

nav ul {
    display: flex;
    flex-direction: row;
    height: 35px;   
}

nav ul {
    list-style-type: none;
    margin: 0 !important;
    padding: 0 !important;
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul li.logo {
    flex: 1;
}

nav ul li:not(nav ul li:last-child) {
    margin-right: 2em;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

<<<<<<< Updated upstream
nav .nav-profile {
    display: flex;
    align-items: center;
    width: 35px;
}

nav .nav-profile img {
    width: 35px;
    height: 35px;
    display: block;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #6e6969;
    transition: all .3s ease 0s;
}
nav .toggle-profile{
    z-index: 5;
    position: absolute;
    top: 95%;
    right: 2%;
    background-color: #181D31;
    padding: 1.5em;
    border-radius: 10px;
    width: 18rem;
    font-size: 1em;
    display: none;
}
nav .toggle-profile.toggle-on{
    display: block;
}

.toggle-avartar{
    display: flex;
    align-items: center;
    padding: .75em;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #121625;
}
nav .toggle-avartar img {
    width: 40px;
    height: 40px;
    display: block;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 1em;
}
nav .toggle-avartar .user-name {
    color: white;
}
.toggle-profile .font-bg{
    width: 38px;
    height: 38px;
    background-color: #303452;
    border-radius: 50%;
    padding: .25em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
}
.toggle-profile i{
    font-size: 1.25em;
}
.toggle-setting{
    display: flex;
    color: white;
    align-items: center;
    margin: 1em 0;
    border: 10px;
    padding: .5em;
    border-radius: 10px;
}
.toggle-setting:last-child{
    margin-bottom: 0;
}
.toggle-avartar:hover,
.toggle-setting:hover{
    background-color: #212844;
    cursor: pointer;
}
=======
nav ul li a:hover, nav ul li:hover{
    color: #F49D1A;
}

.logo:hover{
    color: #F49D1A;
    transition: 0.3s;
    font-weight: bold;
} */

.nav-link{
    color: white !important;
}

.nav-link:hover{
    color: #F49D1A !important;
}

.navbar-icon:hover{
    background-color: #F49D1A !important;
}
>>>>>>> Stashed changes
